.center-table {
  display: table;
  height: 100px;
  width: 100%;
  background: white;
}
.center-table p {
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
html {
  width: 100%;
  height: 100%;
}
body {
  /* min-width: 100%; */
  /* perspective: 800px; */
  /* perspective-origin: center; */
  /* transform-style: preserve-3d; */
  background-color: #ebebeb;
}
#wrapper {
  /* background: url("../images/grid3.svg"); */
  /* min-height: 100%; */
  /* margin: -40px; */
  /* padding: 100px 40px; */
  /* text-rendering: optimizeLegibility; */
  /* transform-style: preserve-3d; */
  /* transform: translateZ(-40px); */
  /* transform: rotateX(10deg) rotateY(10deg); */
}
header {
  height: 80px;
}
.container {
  /* transform: translateZ(40px); */
  /* transform-style: preserve-3d; */
}
a[href="index.html"] {
  /* display: block; */
  /* width: 80px;
  height: 40px; */
  /* background: url("../images/logo.svg"); */
  /* background-size: 100%; */
  background-position: 0 0;
  /* text-indent: -2000px; */
}
a:hover {
  background-color: red;
  background-position: 0 40px;
}
.tips {
  /* transition: 0.2s ease-out; */
  display: block;
}
.tips:hover {
  /* transition: transform 0.2s ease-out; */
  border: 1px solid #ccc;
  margin: -1px;
  /* background: white; */
  /* transform: translateZ(20px) !important; */
  /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); */
  /* transform: scale(1.2); */
}
#popper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  background: #ebebeb;
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2 linear;
}
#popper-overlay.visible {
  display: block;
  opacity: 0.8;
  transition: opacity 0.2 linear;
}
#popper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10002;
  display: none;
  width: 100%;
}
#popper.visible {
  display: block;
}